@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eff1fa;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.conteudo {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.conteudo h1 {
  font-size: 64px;
  font-weight: 500;
  color: #0a3871;
  margin: 0 3%;
}

.conteudo textarea {
  resize: none;
  width: 80%;
  height: 15rem;
  padding: 2%;
  background-color: #d8dfe8;
  font-size: 24px;
  color: #0a3871;
  outline: none;
  border: 2px solid #d8dfe8;
  border-radius: 10px;
  margin: 0 10%;
}

::placeholder {
  color: #0a3871;
  font-weight: 700;
}

.btn-group {
  width: 100%;
  height: auto;
  margin: 3% 10%;
}

.btn-group p {
  font-size: 12px;
  color: #0a3871;
  margin: 1%;
}

.btn-clip {
  width: 30%;
  height: 2.5rem;
  background-color: #0a3871;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 10px;
}

.btn-desc {
  width: 30%;
  height: 2.5rem;
  background-color: #d8dfe8;
  outline: none;
  border: 1px solid #0a3871;
  color: #0a3871;
  border-radius: 10px;
}

.retangulo {
  width: 40%;
  height: 90vh;
  margin: 3%;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.retangulo img {
  width: 100%;
  height: auto;
}

.retangulo h3 {
  color: #343a40;
  margin: 10px 0;
}
