@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eff1fa;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.conteudo {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.conteudo h1 {
  font-size: 64px;
  font-weight: 500;
  color: #0a3871;
  margin: 0 3%;
}

.conteudo textarea {
  resize: none;
  width: 80%;
  height: 75vh;
  padding: 2%;
  background-color: #d8dfe8;
  font-size: 24px;
  color: #0a3871;
  outline: none;
  border: 2px solid #d8dfe8;
  border-radius: 10px;
  margin: 0 10%;
}

::placeholder {
  color: #0a3871;
  font-weight: 700;
}

.btn-group {
  width: 100%;
  height: auto;
  margin: 3% 10%;
}

.btn-group p {
  font-size: 12px;
  color: #0a3871;
  margin: 1%;
}

.btn-clip {
  width: 40%;
  height: 2.5rem;
  background-color: #0a3871;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 10px;
}

.btn-desc {
  width: 40%;
  height: 2.5rem;
  background-color: #d8dfe8;
  outline: none;
  border: 1px solid #0a3871;
  color: #0a3871;
  border-radius: 10px;
}

.retangulo {
  width: 40%;
  height: 90vh;
  margin: 0 3%;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.altura {
  width: 50%;
  height: auto;
}

.retangulo img {
  width: 100%;
  height: 20rem;
}

.retangulo button {
  width: 100%;
  height: 2.5rem;
  background-color: #0a3871;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 10px;
}

.rodape {
  width: 80%;
  height: 2.5rem;
  margin: 0 10%;
  background-color: #d8dfe8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #0a3871;
}

/* responsive celular small */

@media (max-width: 374.98px) {
  main {
    flex-direction: column;
  }

  .conteudo textarea {
    width: 90%;
    height: 60%;
    margin: 0 5%;
  }

  .btn-group {
    margin: 5%;
  }

  .btn-clip {
    width: 90%;
    margin: 5% 0;
  }

  .btn-desc {
    width: 90%;
  }

  .retangulo {
    width: 90%;
    height: auto;
    text-align: center;
  }

  .retangulo img {
    display: none;
  }
}

/* responsive celular */

@media (min-width: 375px) and (max-width: 767.98px) {
  main {
    flex-direction: column;
  }

  .conteudo textarea {
    width: 90%;
    height: 60%;
    margin: 0 5%;
  }

  .btn-group {
    margin: 5%;
  }

  .btn-clip {
    width: 90%;
    margin: 5% 0;
  }

  .btn-desc {
    width: 90%;
  }

  .retangulo {
    width: 90%;
    height: auto;
    text-align: center;
  }

  .retangulo img {
    display: none;
  }
}

/* responsive tablet */

@media (min-width: 768px) and (max-width: 991.98px) {
  main {
    flex-direction: column;
  }

  .conteudo {
  }

  .conteudo textarea {
    width: 90%;
    height: 60%;
    margin: 0 5%;
  }

  .btn-group {
    margin: 5%;
  }

  .btn-clip {
    width: 45%;
  }

  .btn-desc {
    width: 45%;
  }

  .retangulo {
    width: 90%;
    height: auto;
  }

  .retangulo img {
    display: none;
  }
}

/* responsive desktops */

@media (min-width: 992px) and (max-width: 1199.98px) {
  main {
    flex-direction: column;
  }

  .conteudo textarea {
    width: 90%;
    height: 60%;
    margin: 0 5%;
  }

  .btn-group {
    margin: 5%;
  }

  .btn-clip {
    width: 45%;
  }

  .btn-desc {
    width: 45%;
  }

  .retangulo {
    width: 90%;
    height: auto;
  }

  .retangulo img {
    display: none;
  }
}
